body {
  font-family: 'inter', sans-serif;
}

#group-container {
  width: 60%;
  margin: auto;
}

#group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
  width: 60%;
  border: 1px solid;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.new-group a {
  color: #fff;
  text-decoration: none;
}

#groups a {
  text-decoration: none;
  color: #282828;
}

.image-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.group-img {
  width: 70px;
}

.group-footers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  width: 60%;
  margin: auto;
  border: 1px solid;
  border-radius: 0 0 8px 8px;
}

.show-delete {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.delete {
  padding: 6px 10px;
  background-color: brown;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.delete:active {
  background-color: #60b524;
}

.new-group {
  text-align: center;
  padding: 10px 13px;
  background-color: #60b524;
  width: 15%;
  margin: 20px auto;
  border-radius: 6px;
  cursor: pointer;
}

.new-group:active {
  background-color: #315c12;
}

.new-group-wrapper {
  background-color: #60b524;
  width: 40%;
  padding: 30px;
  margin: 70px auto;
  box-shadow: 0 0 5px #5a5a5a;
  text-align: center;
}

.dropdown select {
  width: 100%;
  outline: 0;
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  background: #f4f4f4;
  margin-bottom: 20px;
}

label {
  text-align: left;
}

.group-name input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #f3f3f3;
  outline: none;
  border-radius: 8px;
}

.submit input {
  color: #f4f4f4;
  background-color: brown;
  padding: 8px 11px;
  border-radius: 8px;
  border: none;
}

.submit input:active {
  color: brown;
  background-color: #f4f4f4;
}
